
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('imagem-plano\ de\ fundo.webp'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho real da sua imagem */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Open Sans', sans-serif;
}


.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 30px;
    border: 1px solid #3a3939;
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    font-family: "Open Sans", sans-serif;
    text-align: center;
    
    
}

.div1,
.div2 {
    width: 100%;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}


label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}


.label-usuario {

    margin-bottom: 20px;
}


.button {
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.botoes {

    display: flex;
    flex-direction: column;
}


.botao_entrar, .botao_cadastrar {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

 .botao_cadastrar:hover {
    background-color: #2b7228;
}

.botao_entrar:hover {
    background-color: #2b7228;
}